<app-login></app-login>
<div *ngIf="tournament">
  <button (click)="save()">save</button>
  <button><a href="#/print/{{tournament.id}}">Print</a></button>
  <button><a href="#/refs/{{tournament.id}}">Refs </a></button>
  <input type="text" [(ngModel)]="tournament.name"> - refreshInterVal: <input type="text" [(ngModel)]="tournament.refreshInterVal"> - showSponserTime: <input type="text" [(ngModel)]="tournament.showSponserTime"> - showInfoTime: <input type="text" [(ngModel)]="tournament.showInfoTime">
  <div class="group-admin" *ngFor="let group of tournament.groups; let index = index" >
    <div class="match-admin-panel">
      <div *ngFor="let match of group.matches">
        <poule-match [match]="match"  (onChanged)="onChanged($event)"></poule-match>
      </div>
    </div>
    <div class="group-admin-panel">
      <div> <strong>{{group.groupname}}</strong> -  <button (click)="process(index)">Verwerk</button>   </div>
      <div>name  - pl - w - l - d - gs - gc - p - intern</div>
      <div *ngFor="let team of group.teams">
        {{team.name}} - {{team.matchesPlayed}} - {{team.matchesWon}} - {{team.matchesLost}} - {{team.matchesDrawed}} - {{team.goalsScored}} - {{team.goalsConcieved}} - {{team.points}}
        <input type="number" class="scorebox" (change)="onChanged($event)" [(ngModel)]="team.internalIndex">
      </div>
    </div>
  </div>


  <div *ngFor="let round of tournament.rounds">
      <knockout-round [round]="round" (processRequest)="handleRequest($event)"></knockout-round>
  </div>

</div>

