:host>*{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
:host>*>*{
  box-sizing: border-box;
  width: 50%;
  border: lightgrey solid 1px;
  padding: 5px;
}

:host>*>app-group-container{
  height: 25%;
}
:host>*>app-sponsor-container{
  height: 50%;
  border : none;
}
